block variables
dialog.cb
	.head
		span.title Обратный звонок
		button.close.icon !{icon_close}
	form
		input(type="tel" placeholder="Ваш телефон" required name="phone")
		button(type="submit") Отправить
