block variables
footer
	// - cb form
	include ./dialog.pug
	include ./modal-success.pug

	.scripts-area
	.cols
		.col
			a.logo(href="/") !{logo_d}
			.soc
				a.tg(href="https://telegram.im/@tsvirkoi") !{icon_tg}
				a.wa(href="https://api.whatsapp.com/send?phone=375333553738") !{icon_wa}
		.col
			ul
				li
					a(href="mailto:hwschool@mail.ru") hwschool@mail.ru
				li.cb Заказать звонок



