block variables
header
	a.logo(href="/") !{logo_d}
	nav
		ul
			li
				a(href="#about") О нас
			li
				a(href="#method") Методики
			li
				a(href="#partners") Партнеры
	ul.soc
		li.cb Заказать звонок
		li.tg
			a(href="https://telegram.im/@tsvirkoi") !{icon_tg}
		li.wa
			a(href="https://api.whatsapp.com/send?phone=375333553738") !{icon_wa}

		