
block variables

doctype html
html(lang='ru')
	head
		title #{title}
		meta(charset='utf-8')
		meta(name="description" content="Онлайн - школа обучения английскому языку")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMono-Bold.woff2" crossorigin)
		link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMono-Medium.woff2" crossorigin)
		link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMono-Regular.woff2" crossorigin)

		| <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(99604688, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/99604688" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		
		block head

	body(class=pageClass)
		.wrapper
			include ../../ui/header
			include ./content
			include ../../ui/footer
